<cmp
         announce_content = "%3CFONT%20size%3D'18'%3E%3Cb%3E%3Cfont%20color%3D'%2300FFFF'%3E①%3Cfont color='#ff0000'>≮欢迎光临酷视高清影院，本站所有视频均采集于互联网，版权归制作人和电影公司所有，如有侵权，请即使来电，我们会在24小时内删除≯%3Cfont color='#7FFF00'>②%3Cfont color='#FF00FF'>≮请记住本站官方YY频道604057，本站官方网址www.4yyy.cn≯%3Cfont color='#ff0000'>③%3Cfont color='#00ff00'>≮广告投放以及合作请联系QQ：498936590或YY：300661191≯%3Cfont color='#ff0000'>④%3Cfont color='#EEEE00'>≮酷视影院高清电影首发YY群：4412424【必加】≯"
	 announce_xywh="0,0,100P,20"
	 announce_speed = "1"
         name = "[官方YY频道604057]"
         description = ""
         video_image="{src:flash.swf,xywh:[-50C,-45C,,]}"
         logo = "{src:logo.swf,xywh:[-20R,20,,]}"
         logo_alpha = "1.0"	
         skins = "qq.zip"
         bgcolor = "010101"
	 lists = "123.xml"
         src_handler = ""
         lrc_handler = ""
	 volume = "1"
	 skin_id = "1"
         play_mode = "0"
	 play_id = "1"
	 auto_play = "1"
	 list_delete = "0" click_play = "1"	
	 sound_sample = "true"
	 mixer_displace = "true"
	 mixer_filter = "true"	
	 counter = ""
/>